USE [master]
GO
/****** Object:  Database [JobDB]    Script Date: 2025/9/17 下午 02:26:32 ******/
CREATE DATABASE [JobDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\JobDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobDB]
GO
/****** Object:  Table [dbo].[tApplications]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[ResumeId] [int] NOT NULL,
	[CoverLetter] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[WorkStartDate] [date] NULL,
	[WorkEndDate] [date] NULL,
	[SpecialRequirements] [nvarchar](500) NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCompanyProfiles]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCompanyProfiles](
	[profileId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[profilePicture] [nvarchar](max) NULL,
	[website] [nvarchar](max) NULL,
	[FB] [nvarchar](max) NULL,
	[IG] [nvarchar](max) NULL,
	[intro] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NULL,
	[type] [nchar](10) NULL,
 CONSTRAINT [PK_tCompanyProfiles] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCompanyVerifications]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCompanyVerifications](
	[verificationId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[registeredName] [nvarchar](150) NOT NULL,
	[ownerName] [nvarchar](80) NOT NULL,
	[registeredAddress] [nvarchar](250) NOT NULL,
	[businessRegNo] [varchar](15) NULL,
	[establishedDate] [date] NOT NULL,
	[companyLicenseImage] [nvarchar](300) NOT NULL,
	[submittedAt] [datetime] NOT NULL,
	[approvedAt] [datetime] NULL,
 CONSTRAINT [PK_tCompanyVerifications] PRIMARY KEY CLUSTERED 
(
	[verificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostingDetails]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostingDetails](
	[detailId] [int] IDENTITY(1,1) NOT NULL,
	[postingId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[peopleRequired] [int] NULL,
	[workingHours] [nvarchar](100) NULL,
	[dayOff] [nvarchar](100) NULL,
	[requiredExperience] [bit] NULL,
	[requiredSkills] [nvarchar](max) NULL,
	[requiredLincenses] [nvarchar](max) NULL,
	[benefitsTags] [nvarchar](max) NULL,
	[benefitsText] [nvarchar](max) NULL,
	[notice] [nvarchar](max) NULL,
	[coverImage] [nvarchar](255) NULL,
	[environmentImage] [nvarchar](max) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
 CONSTRAINT [PK_JobPostingDetails] PRIMARY KEY CLUSTERED 
(
	[detailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostings]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostings](
	[postingId] [int] IDENTITY(1,1) NOT NULL,
	[statusId] [int] NULL,
	[userId] [int] NULL,
	[postTitle] [nvarchar](20) NULL,
	[applicationDeadline] [datetime] NULL,
	[publishStartDate] [datetime] NULL,
	[publishEndDate] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_JobPostings] PRIMARY KEY CLUSTERED 
(
	[postingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostingStatus]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostingStatus](
	[statusId] [int] NOT NULL,
	[statusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobPostingStatus] PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tManager]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tManager](
	[ManagerID] [int] IDENTITY(1,1) NOT NULL,
	[ManagerName] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[PermissionID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailConfirmed] [bit] NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMemberComments]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMemberComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](50) NULL,
	[MemberId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[DateTime] [date] NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Reviewed] [bit] NULL,
 CONSTRAINT [PK_MemberComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMemberProfiles]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMemberProfiles](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Sex] [nvarchar](30) NULL,
	[BirthDate] [date] NULL,
	[ProfilePicture] [nvarchar](255) NULL,
	[Education] [nvarchar](200) NULL,
	[Languages] [nvarchar](200) NULL,
	[WorkExperience] [nvarchar](400) NULL,
	[Licenses] [nvarchar](200) NULL,
	[AvailableFrom] [date] NULL,
	[AvailableTo] [date] NULL,
	[PreferredCategories] [nvarchar](200) NULL,
	[ExpectedBenefits] [nvarchar](200) NULL,
	[Motivation] [nvarchar](1000) NULL,
	[ContactIG] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMembers]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](10) NULL,
	[password] [nvarchar](20) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[PermissionID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tOwnerAdmission]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOwnerAdmission](
	[ownerAdmissionId] [int] IDENTITY(1,1) NOT NULL,
	[applyOwner] [nvarchar](50) NULL,
	[memberId] [int] NOT NULL,
	[workerName] [nvarchar](50) NOT NULL,
	[admissionPosition] [nvarchar](50) NOT NULL,
	[admissionDate] [datetime] NOT NULL,
	[replySituation] [nvarchar](50) NOT NULL,
	[workStartDate] [datetime] NOT NULL,
	[workEndDate] [datetime] NOT NULL,
 CONSTRAINT [PK__OwnerAdm__8F9E6A73349F520B] PRIMARY KEY CLUSTERED 
(
	[ownerAdmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPermission]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPermission](
	[PermissionID] [int] NULL,
	[MemberID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPreferredLocations]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreferredLocations](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[NorthRegion] [bit] NOT NULL,
	[CentralRegion] [bit] NOT NULL,
	[SouthRegion] [bit] NOT NULL,
	[EastRegion] [bit] NOT NULL,
	[IslandsRegion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tResume_Templates]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tResume_Templates](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](100) NOT NULL,
	[TemplateTitle] [nvarchar](100) NULL,
	[TemplateDescription] [nvarchar](max) NULL,
	[TemplateHtml] [nvarchar](max) NULL,
	[TemplateCss] [nvarchar](max) NULL,
	[IsPremium] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUserManagerMents]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserManagerMents](
	[ManagerMentID] [int] IDENTITY(1,1) NOT NULL,
	[points] [int] NULL,
	[PermissionID] [int] NULL,
	[UserRecordID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[HonorTitle] [nvarchar](50) NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_UserManagerMents] PRIMARY KEY CLUSTERED 
(
	[ManagerMentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUserRecords]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserRecords](
	[UserRecordID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationRecord] [nvarchar](50) NULL,
	[ApplicationDate] [date] NULL,
	[AdmitRecord] [nvarchar](max) NULL,
	[WorkExperience] [nvarchar](max) NULL,
	[LoginIPRecord] [nvarchar](50) NULL,
	[PasswordChangeDate] [date] NULL,
	[PasswordChangeHistory] [nvarchar](max) NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_UserRecords] PRIMARY KEY CLUSTERED 
(
	[UserRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkerApply]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerApply](
	[workerApplyId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[workerName] [nvarchar](50) NULL,
	[applyOwner] [nvarchar](50) NOT NULL,
	[applyPosition] [nvarchar](50) NOT NULL,
	[applyDate] [datetime] NOT NULL,
	[applySituation] [nvarchar](50) NOT NULL,
	[Introduction] [nvarchar](500) NOT NULL,
	[snapShotId] [int] NOT NULL,
 CONSTRAINT [PK__WorkerAp__455F82BD6B4515D0] PRIMARY KEY CLUSTERED 
(
	[workerApplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkerProfiles]    Script Date: 2025/9/17 下午 02:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerProfiles](
	[profileId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[genderCode] [char](1) NOT NULL,
	[birthDate] [date] NOT NULL,
	[profilePicture] [nvarchar](255) NULL,
 CONSTRAINT [PK_tWorkerProfiles] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tApplications] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[tApplications] ADD  DEFAULT (sysutcdatetime()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[tManager] ADD  CONSTRAINT [DF_Manager_EmailConfirmed_1]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[tMemberProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [NorthRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [CentralRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [SouthRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [EastRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [IslandsRegion]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((0)) FOR [IsPremium]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
USE [master]
GO
