USE [JobDB]
GO
/****** Object:  Table [dbo].[tApplications]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ListingId] [int] NOT NULL,
	[ResumeId] [int] NOT NULL,
	[CoverLetter] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[WorkStartDate] [date] NULL,
	[WorkEndDate] [date] NULL,
	[SpecialRequirements] [nvarchar](500) NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCompanyProfiles]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCompanyProfiles](
	[profileId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[profilePicture] [nvarchar](max) NULL,
	[website] [nvarchar](max) NULL,
	[FB] [nvarchar](max) NULL,
	[IG] [nvarchar](max) NULL,
	[intro] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NULL,
	[type] [nchar](10) NULL,
 CONSTRAINT [PK_tCompanyProfiles] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCompanyVerifications]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCompanyVerifications](
	[verificationId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[registeredName] [nvarchar](150) NOT NULL,
	[ownerName] [nvarchar](80) NOT NULL,
	[registeredAddress] [nvarchar](250) NOT NULL,
	[businessRegNo] [varchar](15) NULL,
	[establishedDate] [date] NOT NULL,
	[companyLicenseImage] [nvarchar](300) NOT NULL,
	[submittedAt] [datetime] NOT NULL,
	[approvedAt] [datetime] NULL,
 CONSTRAINT [PK_tCompanyVerifications] PRIMARY KEY CLUSTERED 
(
	[verificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostingDetails]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostingDetails](
	[detailId] [int] IDENTITY(1,1) NOT NULL,
	[postingId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[peopleRequired] [int] NULL,
	[workingHours] [nvarchar](100) NULL,
	[dayOff] [nvarchar](100) NULL,
	[requiredExperience] [bit] NULL,
	[requiredSkills] [nvarchar](max) NULL,
	[requiredLincenses] [nvarchar](max) NULL,
	[benefitsTags] [nvarchar](max) NULL,
	[benefitsText] [nvarchar](max) NULL,
	[notice] [nvarchar](max) NULL,
	[coverImage] [nvarchar](255) NULL,
	[environmentImage] [nvarchar](max) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
 CONSTRAINT [PK_JobPostingDetails] PRIMARY KEY CLUSTERED 
(
	[detailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostings]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostings](
	[postingId] [int] IDENTITY(1,1) NOT NULL,
	[statusId] [int] NULL,
	[userId] [int] NULL,
	[postTitle] [nvarchar](20) NULL,
	[applicationDeadline] [datetime] NULL,
	[publishStartDate] [datetime] NULL,
	[publishEndDate] [datetime] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_JobPostings] PRIMARY KEY CLUSTERED 
(
	[postingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tJobPostingStatus]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJobPostingStatus](
	[statusId] [int] NOT NULL,
	[statusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobPostingStatus] PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tManager]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tManager](
	[ManagerID] [int] IDENTITY(1,1) NOT NULL,
	[ManagerName] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[PermissionID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailConfirmed] [bit] NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMemberComments]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMemberComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](50) NULL,
	[MemberId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[DateTime] [date] NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Reviewed] [bit] NULL,
 CONSTRAINT [PK_MemberComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMemberProfiles]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMemberProfiles](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Sex] [nvarchar](30) NULL,
	[BirthDate] [date] NULL,
	[ProfilePicture] [nvarchar](255) NULL,
	[Education] [nvarchar](200) NULL,
	[Languages] [nvarchar](200) NULL,
	[WorkExperience] [nvarchar](400) NULL,
	[Licenses] [nvarchar](200) NULL,
	[AvailableFrom] [date] NULL,
	[AvailableTo] [date] NULL,
	[PreferredCategories] [nvarchar](200) NULL,
	[ExpectedBenefits] [nvarchar](200) NULL,
	[Motivation] [nvarchar](1000) NULL,
	[ContactIG] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMembers]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](10) NULL,
	[password] [nvarchar](20) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[PermissionID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tOwnerAdmission]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOwnerAdmission](
	[ownerAdmissionId] [int] IDENTITY(1,1) NOT NULL,
	[applyOwner] [nvarchar](50) NULL,
	[memberId] [int] NOT NULL,
	[workerName] [nvarchar](50) NOT NULL,
	[admissionPosition] [nvarchar](50) NOT NULL,
	[admissionDate] [datetime] NOT NULL,
	[replySituation] [nvarchar](50) NOT NULL,
	[workStartDate] [datetime] NOT NULL,
	[workEndDate] [datetime] NOT NULL,
 CONSTRAINT [PK__OwnerAdm__8F9E6A73349F520B] PRIMARY KEY CLUSTERED 
(
	[ownerAdmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPermission]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPermission](
	[PermissionID] [int] NULL,
	[MemberID] [int] NULL,
	[PermissionName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPreferredLocations]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreferredLocations](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[NorthRegion] [bit] NOT NULL,
	[CentralRegion] [bit] NOT NULL,
	[SouthRegion] [bit] NOT NULL,
	[EastRegion] [bit] NOT NULL,
	[IslandsRegion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tResume_Templates]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tResume_Templates](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](100) NOT NULL,
	[TemplateTitle] [nvarchar](100) NULL,
	[TemplateDescription] [nvarchar](max) NULL,
	[TemplateHtml] [nvarchar](max) NULL,
	[TemplateCss] [nvarchar](max) NULL,
	[IsPremium] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUserManagerMents]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserManagerMents](
	[ManagerMentID] [int] IDENTITY(1,1) NOT NULL,
	[points] [int] NULL,
	[PermissionID] [int] NULL,
	[UserRecordID] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[HonorTitle] [nvarchar](50) NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_UserManagerMents] PRIMARY KEY CLUSTERED 
(
	[ManagerMentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUserRecords]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserRecords](
	[UserRecordID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationRecord] [nvarchar](50) NULL,
	[ApplicationDate] [date] NULL,
	[AdmitRecord] [nvarchar](max) NULL,
	[WorkExperience] [nvarchar](max) NULL,
	[LoginIPRecord] [nvarchar](50) NULL,
	[PasswordChangeDate] [date] NULL,
	[PasswordChangeHistory] [nvarchar](max) NULL,
	[MemberID] [int] NULL,
 CONSTRAINT [PK_UserRecords] PRIMARY KEY CLUSTERED 
(
	[UserRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkerApply]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerApply](
	[workerApplyId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[workerName] [nvarchar](50) NULL,
	[applyOwner] [nvarchar](50) NOT NULL,
	[applyPosition] [nvarchar](50) NOT NULL,
	[applyDate] [datetime] NOT NULL,
	[applySituation] [nvarchar](50) NOT NULL,
	[Introduction] [nvarchar](500) NOT NULL,
	[snapShotId] [int] NOT NULL,
 CONSTRAINT [PK__WorkerAp__455F82BD6B4515D0] PRIMARY KEY CLUSTERED 
(
	[workerApplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkerProfiles]    Script Date: 2025/9/17 下午 02:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerProfiles](
	[profileId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[genderCode] [char](1) NOT NULL,
	[birthDate] [date] NOT NULL,
	[profilePicture] [nvarchar](255) NULL,
 CONSTRAINT [PK_tWorkerProfiles] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tCompanyProfiles] ON 

INSERT [dbo].[tCompanyProfiles] ([profileId], [memberId], [name], [phone], [profilePicture], [website], [FB], [IG], [intro], [address], [type]) VALUES (1, 1, N'晨曦旅館', N'0988888777', N'/images/company/sunrise_hotel.png', N'https://www.sunrisehotel.com', N'https://www.facebook.com/sunrisehotel', N'@sunrise_hotel', N'晨曦旅館位於市中心，提供平價舒適的住宿空間與當地文化體驗，非常適合背包客與自由行旅客。', N'台北市大安區信義路100號', N'文化體驗      ')
INSERT [dbo].[tCompanyProfiles] ([profileId], [memberId], [name], [phone], [profilePicture], [website], [FB], [IG], [intro], [address], [type]) VALUES (2, 2, N'海風咖啡館', N'0929313888', N'/images/company/seabreeze_cafe.png', N'https://www.seabreezecafe.com', N'https://www.facebook.com/seabreezecafe', N'@seabreezecafe_tw', N'海風咖啡館以手沖咖啡與輕食著名，店內裝潢結合海洋元素，是文青聚會與遊客休憩的熱門選擇。', N'台中市西區中港路200號', N'咖啡廳       ')
INSERT [dbo].[tCompanyProfiles] ([profileId], [memberId], [name], [phone], [profilePicture], [website], [FB], [IG], [intro], [address], [type]) VALUES (3, 3, N'綠野農場', N'0977666555', N'/images/company/greenfield_farm.png', N'https://www.greenfieldfarm.com', N'https://www.facebook.com/greenfieldfarm', N'@greenfieldfarm', N'綠野農場提供有機蔬菜、農業體驗與親子活動，致力推廣環保與永續發展理念。', N'花蓮縣吉安鄉幸福路88號', N'農場        ')
SET IDENTITY_INSERT [dbo].[tCompanyProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[tCompanyVerifications] ON 

INSERT [dbo].[tCompanyVerifications] ([verificationId], [memberId], [registeredName], [ownerName], [registeredAddress], [businessRegNo], [establishedDate], [companyLicenseImage], [submittedAt], [approvedAt]) VALUES (1, 1, N'星辰旅宿股份有限公司', N'王大明', N'台北市大安區仁愛路100號', N'12345678', CAST(N'2015-05-10' AS Date), N'/uploads/licenses/starhost_12345678.png', CAST(N'2025-09-16T12:10:54.727' AS DateTime), CAST(N'2025-09-16T12:10:54.727' AS DateTime))
INSERT [dbo].[tCompanyVerifications] ([verificationId], [memberId], [registeredName], [ownerName], [registeredAddress], [businessRegNo], [establishedDate], [companyLicenseImage], [submittedAt], [approvedAt]) VALUES (2, 2, N'綠野農場企業社', N'李小華', N'南投縣埔里鎮中山路50號', NULL, CAST(N'2018-09-22' AS Date), N'/uploads/licenses/greenfarm_20180922.jpg', CAST(N'2025-09-16T12:10:54.727' AS DateTime), CAST(N'2025-09-16T12:10:54.727' AS DateTime))
INSERT [dbo].[tCompanyVerifications] ([verificationId], [memberId], [registeredName], [ownerName], [registeredAddress], [businessRegNo], [establishedDate], [companyLicenseImage], [submittedAt], [approvedAt]) VALUES (3, 3, N'海景民宿', N'陳美麗', N'花蓮縣壽豐鄉海岸路88號', NULL, CAST(N'2020-03-15' AS Date), N'/uploads/licenses/seaview_20200315.png', CAST(N'2025-09-16T12:10:54.727' AS DateTime), CAST(N'2025-09-16T12:10:54.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[tCompanyVerifications] OFF
GO
SET IDENTITY_INSERT [dbo].[tJobPostingDetails] ON 

INSERT [dbo].[tJobPostingDetails] ([detailId], [postingId], [description], [peopleRequired], [workingHours], [dayOff], [requiredExperience], [requiredSkills], [requiredLincenses], [benefitsTags], [benefitsText], [notice], [coverImage], [environmentImage], [startDate], [endDate]) VALUES (1, 1, N'協助農場蔬果採收', 3, N'07:00-15:00', N'每週休2日', 0, N'無特別需求', N'無', N'供餐,住宿', N'包三餐與宿舍', N'需能耐熱耐曬', N'', N'', CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-08-30T00:00:00.000' AS DateTime))
INSERT [dbo].[tJobPostingDetails] ([detailId], [postingId], [description], [peopleRequired], [workingHours], [dayOff], [requiredExperience], [requiredSkills], [requiredLincenses], [benefitsTags], [benefitsText], [notice], [coverImage], [environmentImage], [startDate], [endDate]) VALUES (2, 2, N'協助農場餵養動物', 2, N'08:00-16:00', N'每週休1日', 1, N'畜牧經驗佳', N'無', N'供餐', N'每日供三餐', N'需不怕動物', N'', N'', CAST(N'2025-08-05T00:00:00.000' AS DateTime), CAST(N'2025-08-25T00:00:00.000' AS DateTime))
INSERT [dbo].[tJobPostingDetails] ([detailId], [postingId], [description], [peopleRequired], [workingHours], [dayOff], [requiredExperience], [requiredSkills], [requiredLincenses], [benefitsTags], [benefitsText], [notice], [coverImage], [environmentImage], [startDate], [endDate]) VALUES (3, 3, N'櫃台接待與訂房管理', 2, N'09:00-18:00', N'排班制', 0, N'基本英文', N'無', N'住宿,伙食補助', N'提供宿舍與補助', N'需有笑容與耐心', N'', N'', CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-08-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tJobPostingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tJobPostings] ON 

INSERT [dbo].[tJobPostings] ([postingId], [statusId], [userId], [postTitle], [applicationDeadline], [publishStartDate], [publishEndDate], [createdAt], [updatedAt]) VALUES (1, 1, 1, N'農場採收助手', CAST(N'2025-07-15T00:00:00.000' AS DateTime), CAST(N'2025-05-01T00:00:00.000' AS DateTime), CAST(N'2025-07-31T00:00:00.000' AS DateTime), CAST(N'2025-09-16T06:16:31.037' AS DateTime), CAST(N'2025-09-16T06:16:31.037' AS DateTime))
INSERT [dbo].[tJobPostings] ([postingId], [statusId], [userId], [postTitle], [applicationDeadline], [publishStartDate], [publishEndDate], [createdAt], [updatedAt]) VALUES (2, 2, 1, N'農場飼養員', CAST(N'2025-07-20T00:00:00.000' AS DateTime), CAST(N'2025-05-10T00:00:00.000' AS DateTime), CAST(N'2025-07-31T00:00:00.000' AS DateTime), CAST(N'2025-09-16T06:16:31.040' AS DateTime), CAST(N'2025-09-16T06:16:31.040' AS DateTime))
INSERT [dbo].[tJobPostings] ([postingId], [statusId], [userId], [postTitle], [applicationDeadline], [publishStartDate], [publishEndDate], [createdAt], [updatedAt]) VALUES (3, 3, 2, N'旅館櫃台人員', CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-06-01T00:00:00.000' AS DateTime), CAST(N'2025-08-15T00:00:00.000' AS DateTime), CAST(N'2025-09-16T06:16:31.040' AS DateTime), CAST(N'2025-09-16T06:16:31.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[tJobPostings] OFF
GO
INSERT [dbo].[tJobPostingStatus] ([statusId], [statusName]) VALUES (1, N'草稿')
INSERT [dbo].[tJobPostingStatus] ([statusId], [statusName]) VALUES (2, N'已發布')
INSERT [dbo].[tJobPostingStatus] ([statusId], [statusName]) VALUES (3, N'排程發布')
GO
SET IDENTITY_INSERT [dbo].[tManager] ON 

INSERT [dbo].[tManager] ([ManagerID], [ManagerName], [Account], [Password], [PermissionID], [PermissionName], [Email], [EmailConfirmed]) VALUES (2, N'王一一', N'abc456', N'456', 1, N'管理者', NULL, 0)
INSERT [dbo].[tManager] ([ManagerID], [ManagerName], [Account], [Password], [PermissionID], [PermissionName], [Email], [EmailConfirmed]) VALUES (3, N'王大明', N'a123', N'123', 1, N'管理者', NULL, 0)
INSERT [dbo].[tManager] ([ManagerID], [ManagerName], [Account], [Password], [PermissionID], [PermissionName], [Email], [EmailConfirmed]) VALUES (4, N'大一一', N'a123', N'456', 1, N'管理者', N'abc12@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[tManager] OFF
GO
SET IDENTITY_INSERT [dbo].[tMemberComments] ON 

INSERT [dbo].[tMemberComments] ([CommentId], [MemberName], [MemberId], [Comment], [Rating], [DateTime], [UserId], [UserName], [Reviewed]) VALUES (7, NULL, 1, N'123', 4, CAST(N'2025-09-16' AS Date), 2, N'王一一', 1)
INSERT [dbo].[tMemberComments] ([CommentId], [MemberName], [MemberId], [Comment], [Rating], [DateTime], [UserId], [UserName], [Reviewed]) VALUES (8, NULL, 2, N'6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666', 4, CAST(N'2025-09-16' AS Date), 2, N'王一一', 0)
SET IDENTITY_INSERT [dbo].[tMemberComments] OFF
GO
SET IDENTITY_INSERT [dbo].[tMemberProfiles] ON 

INSERT [dbo].[tMemberProfiles] ([ProfileId], [MemberId], [Name], [Sex], [BirthDate], [ProfilePicture], [Education], [Languages], [WorkExperience], [Licenses], [AvailableFrom], [AvailableTo], [PreferredCategories], [ExpectedBenefits], [Motivation], [ContactIG], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'王小明', N'男', CAST(N'1995-05-20' AS Date), NULL, N'XXXX大學 機械工程', N'中文,英文,粵語', N'助理工程師;補習老師', N'手排車', CAST(N'2025-09-01' AS Date), CAST(N'2025-10-31' AS Date), N'潛水店,民宿,酒吧', N'住宿,零用金,膳食,考證', N'想學潛水並體驗在地生活', N'IG: example', CAST(N'2025-09-17T06:05:47.5193737' AS DateTime2), NULL)
INSERT [dbo].[tMemberProfiles] ([ProfileId], [MemberId], [Name], [Sex], [BirthDate], [ProfilePicture], [Education], [Languages], [WorkExperience], [Licenses], [AvailableFrom], [AvailableTo], [PreferredCategories], [ExpectedBenefits], [Motivation], [ContactIG], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'林佳蓉', N'女', CAST(N'1998-03-15' AS Date), NULL, N'XXXX大學 外文系', N'中文,英文,日文', N'英文家教;櫃檯人員', N'潛水證照', CAST(N'2025-09-10' AS Date), CAST(N'2025-11-30' AS Date), N'旅館,咖啡廳', N'住宿,膳食', N'想練英文口說並認識朋友', N'IG: lin.jr', CAST(N'2025-09-17T06:05:47.5193737' AS DateTime2), NULL)
INSERT [dbo].[tMemberProfiles] ([ProfileId], [MemberId], [Name], [Sex], [BirthDate], [ProfilePicture], [Education], [Languages], [WorkExperience], [Licenses], [AvailableFrom], [AvailableTo], [PreferredCategories], [ExpectedBenefits], [Motivation], [ContactIG], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'陳建宏', N'男', CAST(N'1993-11-02' AS Date), NULL, N'XXXX科技大學 資訊管理', N'中文,英文', N'網頁設計師;工讀生', N'無', CAST(N'2025-09-05' AS Date), CAST(N'2025-12-15' AS Date), N'背包客棧,酒吧', N'住宿,零用金', N'想邊旅行邊接案', N'IG: chenhung', CAST(N'2025-09-17T06:05:47.5193737' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[tMemberProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[tMembers] ON 

INSERT [dbo].[tMembers] ([MemberID], [account], [password], [phone], [email], [PermissionID], [PermissionName]) VALUES (1, N'abc123', N'123', N'09123456', N'ted@gmail.com', 1, N'管理者')
INSERT [dbo].[tMembers] ([MemberID], [account], [password], [phone], [email], [PermissionID], [PermissionName]) VALUES (2, N'bca123', N'1234', N'09210476', N'hot@gmail.com', 2, N'業主/求職者')
SET IDENTITY_INSERT [dbo].[tMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[tOwnerAdmission] ON 

INSERT [dbo].[tOwnerAdmission] ([ownerAdmissionId], [applyOwner], [memberId], [workerName], [admissionPosition], [admissionDate], [replySituation], [workStartDate], [workEndDate]) VALUES (1, N'山嶺度假村', 1, N'Alice', N'Housekeeping', CAST(N'2025-09-02T10:00:00.000' AS DateTime), N'待接受', CAST(N'2025-09-15T08:00:00.000' AS DateTime), CAST(N'2025-12-15T17:00:00.000' AS DateTime))
INSERT [dbo].[tOwnerAdmission] ([ownerAdmissionId], [applyOwner], [memberId], [workerName], [admissionPosition], [admissionDate], [replySituation], [workStartDate], [workEndDate]) VALUES (2, N'海景旅館', 2, N'Bob', N'Reception', CAST(N'2025-09-03T11:30:00.000' AS DateTime), N'未接受', CAST(N'2025-09-20T09:00:00.000' AS DateTime), CAST(N'2025-12-20T17:00:00.000' AS DateTime))
INSERT [dbo].[tOwnerAdmission] ([ownerAdmissionId], [applyOwner], [memberId], [workerName], [admissionPosition], [admissionDate], [replySituation], [workStartDate], [workEndDate]) VALUES (3, N'幸福民宿', 3, N'Cindy', N'Cooking', CAST(N'2025-09-04T14:00:00.000' AS DateTime), N'已接受', CAST(N'2025-10-01T08:00:00.000' AS DateTime), CAST(N'2026-01-01T17:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tOwnerAdmission] OFF
GO
SET IDENTITY_INSERT [dbo].[tWorkerApply] ON 

INSERT [dbo].[tWorkerApply] ([workerApplyId], [memberId], [workerName], [applyOwner], [applyPosition], [applyDate], [applySituation], [Introduction], [snapShotId]) VALUES (3, 3, N'李曉明', N'海景旅館', N'烹飪', CAST(N'2025-09-03T09:30:00.000' AS DateTime), N'待處理', N'擅長亞洲料理', 103)
INSERT [dbo].[tWorkerApply] ([workerApplyId], [memberId], [workerName], [applyOwner], [applyPosition], [applyDate], [applySituation], [Introduction], [snapShotId]) VALUES (6, 6, N'陳大貓', N'幸福民宿', N'導遊', CAST(N'2025-09-06T13:20:00.000' AS DateTime), N'待處理', N'英文流利', 106)
INSERT [dbo].[tWorkerApply] ([workerApplyId], [memberId], [workerName], [applyOwner], [applyPosition], [applyDate], [applySituation], [Introduction], [snapShotId]) VALUES (8, 8, N'黃小英', N'森林小屋', N'烹飪', CAST(N'2025-09-08T16:30:00.000' AS DateTime), N'未錄取', N'喜歡烹飪', 108)
SET IDENTITY_INSERT [dbo].[tWorkerApply] OFF
GO
SET IDENTITY_INSERT [dbo].[tWorkerProfiles] ON 

INSERT [dbo].[tWorkerProfiles] ([profileId], [memberId], [name], [phone], [genderCode], [birthDate], [profilePicture]) VALUES (1, 1, N'王小明', N'0912345678', N'M', CAST(N'1995-04-15' AS Date), N'/images/profiles/worker1.jpg')
INSERT [dbo].[tWorkerProfiles] ([profileId], [memberId], [name], [phone], [genderCode], [birthDate], [profilePicture]) VALUES (2, 2, N'陳美麗', N'0922333444', N'F', CAST(N'1998-07-20' AS Date), N'/images/profiles/worker2.jpg')
INSERT [dbo].[tWorkerProfiles] ([profileId], [memberId], [name], [phone], [genderCode], [birthDate], [profilePicture]) VALUES (3, 3, N'林建宏', N'0955123123', N'M', CAST(N'1990-12-05' AS Date), N'/images/profiles/worker3.jpg')
SET IDENTITY_INSERT [dbo].[tWorkerProfiles] OFF
GO
ALTER TABLE [dbo].[tApplications] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[tApplications] ADD  DEFAULT (sysutcdatetime()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[tManager] ADD  CONSTRAINT [DF_Manager_EmailConfirmed_1]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[tMemberProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [NorthRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [CentralRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [SouthRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [EastRegion]
GO
ALTER TABLE [dbo].[tPreferredLocations] ADD  DEFAULT ((0)) FOR [IslandsRegion]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((0)) FOR [IsPremium]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tResume_Templates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
